- var list = "files/img/case/2000x670.jpg"
doctype html
html(lang="zh-tw")
  head
    include ../components/head.pug
  body#qas
    #wrapper.about-page
      include ../components/header.pug
      main(role="main")
        //- banner
        .main-banner
          img(src="files/img/case/2000x670.jpg")
        //- path
        .path
          .path-box
            a(href="index.html") 首頁 
            | 關於我們
        .about-content-1
          .content-box
            .about-img
              span 
                img(src="files/img/about/about.png")
              img(src="files/img/about/aobut-icon.png")
            .about-text
              h2 品質與價值
              .about-text-editor
                |五十甲建築行銷團隊自民國79年創立至今，相信建築買賣不該是建商與住戶的競爭賽局，而是經由產品供需而創造的互利美事。
                br
                |為此團隊組成集合了業界菁英翹楚，全程參與個案作業，進而提供最徹底的產品規劃、市場觀察、業務行銷、廣告企劃…等全方位服務，為個案找到最理想的推案方針，協助建商提供更貼切消費者的產品，也讓購屋人更認同建設公司的品質與價值，從而在大環境的更迭中，創造建商、客戶與代銷三方的多贏局面。

        .about-content-2
          .content-box
            .about-text
              h2 永續服務
              span 
                img(src="files/img/about/future.png")
              .about-text-editor
                |伴隨業績成長與經驗積累，我們在2014年跨足建設事業，以消費者視角量身打造「五十甲城峰」、「五十甲夢想莊園一、二期」佳作，替人們實現夢寐以求的優質居所。
                br
                br
                |同時積極迎接未來多樣挑戰，以遠見者視角永續深耕產業，堅持市場敏銳感官，提供更廣更精準的服務品質，自許持之以恆培養品牌實力，鞭策團隊力求各界肯定，希冀在房產界中永續服務，共創沃土中豐收碩果。
            .about-img
                img(src="files/img/about/building.png")



                    
      //- footer
      include ../components/footer.pug
    script(src='files/js/vendors.js')
    script(src='files/js/index.js?v=' + d)

