- var list = "files/img/case/2000x670.jpg"
doctype html
html(lang="zh-tw")
  head
    include ../components/head.pug
  body
    div#wrapper.history-case-list-page
      include ../components/header.pug
      main(role="main")
        //- banner
        include ../section/banner.pug
        //- path
        .path
          .path-box
            a(href="index.html") 首頁 
            | 歷年建案
        //- 左邊選單
        .main-content
          .left-nav
            .nav-title
              | 歷年建案
            .item_nav
              ul
                li.active
                  a(href="#") 所有年度 
                li
                  a(href="#") 2019 
                li
                  a(href="#") 2018 
                li
                  a(href="#") 2017 
                li
                  a(href="#") 2016 
          //- 右邊區塊
          .right-content
            .title-box
              h2 歷年建案
              h3 HISTORY CASE
            .case-list
              .row
                .col-lg-4.col-6
                  a(href="history-case-detail.html")
                    .case-list-box
                      .case-list-img
                        img(src="files/img/case/610x610.jpg")
                      .case-list-title 
                        h3 百川文心硯
                      .case-list-content
                        .case-list-text
                          | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
                        .case-list-view VIEW 
                .col-lg-4.col-6
                  a(href="history-case-detail.html")
                    .case-list-box
                      .case-list-img
                        img(src="files/img/case/610x610.jpg")
                      .case-list-title 
                        h3 百川文心硯
                      .case-list-content
                        .case-list-text
                          | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
                        .case-list-view VIEW 
                .col-lg-4.col-6
                  a(href="history-case-detail.html")
                    .case-list-box
                      .case-list-img
                        img(src="files/img/case/610x610.jpg")
                      .case-list-title 
                        h3 百川文心硯
                      .case-list-content
                        .case-list-text
                          | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
                        .case-list-view VIEW 
                .col-lg-4.col-6
                  a(href="history-case-detail.html")
                    .case-list-box
                      .case-list-img
                        img(src="files/img/case/610x610.jpg")
                      .case-list-title 
                        h3 百川文心硯
                      .case-list-content
                        .case-list-text
                          | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
                        .case-list-view VIEW  
                .col-lg-4.col-6
                  a(href="history-case-detail.html")
                    .case-list-box
                      .case-list-img
                        img(src="files/img/case/610x610.jpg")
                      .case-list-title 
                        h3 百川文心硯
                      .case-list-content
                        .case-list-text
                          | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
                        .case-list-view VIEW 
                .col-lg-4.col-6
                  a(href="history-case-detail.html")
                    .case-list-box
                      .case-list-img
                        img(src="files/img/case/610x610.jpg")
                      .case-list-title 
                        h3 百川文心硯
                      .case-list-content
                        .case-list-text
                          | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
                        .case-list-view VIEW 
                .col-lg-4.col-6
                  a(href="history-case-detail.html")
                    .case-list-box
                      .case-list-img
                        img(src="files/img/case/610x610.jpg")
                      .case-list-title 
                        h3 百川文心硯
                      .case-list-content
                        .case-list-text
                          | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
                        .case-list-view VIEW  
                .col-lg-4.col-6
                  a(href="history-case-detail.html")
                    .case-list-box
                      .case-list-img
                        img(src="files/img/case/610x610.jpg")
                      .case-list-title 
                        h3 百川文心硯
                      .case-list-content
                        .case-list-text
                          | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
                        .case-list-view VIEW 
                .col-lg-4.col-6
                  a(href="history-case-detail.html")
                    .case-list-box
                      .case-list-img
                        img(src="files/img/case/610x610.jpg")
                      .case-list-title 
                        h3 百川文心硯
                      .case-list-content
                        .case-list-text
                          | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
                        .case-list-view VIEW 
            //- page list
            include ../components/page-list.pug
      //- footer
      include ../components/footer.pug
    script(src='files/js/vendors.js')
    script(src='files/js/index.js?v=' + d)