.in-about{
  width: 100%;
  background: url(../img/index/about-bg.jpg) no-repeat;
  background-size: cover;
  padding: 46px 0 118px 0;
  .in-title{
    background: url(../img/index/aobut-title-bg.png) center no-repeat;
    background-size: contain;
    padding: 35px 0;
    h2:after{
      display: none;
    }
  }
}

.in-about-content{
  width: 92%;
  max-width: 1561px;
  margin: auto;
}


.in-about-list{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &:nth-child(2){
    .in-about-img{
      order: 2;
      margin-top: -17px;
    }
    .in-about-text{
      padding-top: 3%;
    }
  }
}

.in-about-img{
  width: 52%;
  max-width: 807px;
}

.in-about-text{
  width: 48%;
  max-width: 767px;
  text-align: center;
  padding: 22px 2% 0 2%;
  h2{
    font-size: 1.57vw;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto 6.7% auto;
    &:after{
      content: '';
      display: block;
      width: 106px;
      height: 2px;
      background: #3b3838;
      margin: 27px auto 0 auto;
    }
    @include screen(1366px){
      margin: 0 auto 6% auto;
    }
    @include screen(1280px){
      font-size: pxToEm(20);
    }
    @include screen(768px){
      font-size: pxToEm(25);
    }
  }
}

.in-about-contenter{
  font-size: 1.14vw;
  line-height: 1.7;
  letter-spacing: 0;
  @include screen(1366px){
    font-size: pxToEm(16);
  }
  @include screen(768px){
    font-size: pxToEm(20);
  }
}

@include media-breakpoint-down(md) {
  .in-about-img,.in-about-text{
    width: 100%;
  }
  .in-about-img{
    order: 2;
  }
  .in-about-text{
    margin-bottom: 4%;
    padding: 22px 0% 0 0%;
  }
  .in-about-list:nth-child(1){
    margin-bottom: 5%;
  }
  .in-about-list:nth-child(2) .in-about-img{
    margin-top: 0;
  }
}

@include media-breakpoint-down(xs) {
  .in-about-text h2{
    font-size: pxToEm(20);
    width: 100%;
  }
  .in-about-contenter{
    font-size: pxToEm(16);
  }
  .in-about .in-title{
    margin-bottom: 10px;
    background-size: 28%;
  }

}