.brand-case{
  background: url(../img/index/brand-bg.jpg) no-repeat;
  background-size: cover;
  padding: 27px 0 84px 0;
}

.brand-list-box{
  width: 92%;
  max-width: 1561px;
  margin: auto;
}
.brand-list{
  position: relative;
  width: 100%;
  display: flex;
  background: $white;
  &:nth-child(1){
    .brand-list-text{
      background: url(../img/index/brand-bg-1.png) right bottom;
      background-size: cover;
    }
  }
  &:nth-child(2){
    .brand-list-img{
      order: 2;
    }
    .brand-list-text{
      background: url(../img/index/brand-bg-1.png) right bottom;
      background-size: cover;
    }
  }
  &:nth-child(3){
    .brand-list-text{
      background: url(../img/index/brand-bg-1.png) right bottom;
      background-size: cover;
    }
  }
}
.brand-list-img{
  width:  50;
  max-width: 835px;
}

.brand-list-text{
  width: 47%;
  max-width: 723px;  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    text-decoration: none;
    color: #3b3838;
    &:hover{
      .btn-brand{
        border: 1px solid $red;
        color: $red;
      }
    }
    
  }
  h2{
    font-size: pxToEm(35);
    margin-bottom: 46px;
    &:after{
      content:'';
      width: 51px;
      height: 2px;
      background: $red;
      display: block;
      margin: 35px auto 0 auto;
    }
  }
  h3{
    font-weight: bold;
    font-size: pxToEm(25);
    margin-bottom: 31px;
  }
  .brand-list-content{
    max-width: 545px;
    width: 100%;
  }
  .brand-contenter{
    font-size: pxToEm(21);
    margin-bottom: 82px;
    line-height: 1.6;
  }
  .btn-brand{
    transition: .4s;
    width: 148px;
    height: 39px;
    line-height: 38px;
    font-size: pxToEm(22);
    border: 1px solid #d9d9d9;
    margin: auto;
    box-shadow: 1px 1px 5px 0px rgba(143, 143, 143, 0.23);
    background: #fff;
    
  }
}

