.hot-case-detail-page{
  .right-content{
      width: 78.462%;
  } 
}

//.hot-case-detail-content
.hot-case-detail-content{
  margin-top: 46px;
  h2{
    font-size: pxToEm(20);
    font-weight: bold;
    padding-bottom: 19px;
    margin-bottom: 30px;
    border-bottom:1px solid #353535 ;
  }
}