.hot-case-list-page,.history-case-list-page{
    .right-content{
        width: 82.6%;
    } 
}
.case-list{
    a{
        text-decoration: none;
        &:hover{
            .case-list-view{
                color: $red;
                &::after{
                    background: url(../img/case/arrw_red.svg) top left no-repeat;
                }
            }
        }
    }
    .col-lg-4{
        margin-bottom: 5%;
    }
} 


.case-list-box{
    width: 100%;
    max-width: 388px;
    border: solid 1px #cecece;
}
.case-list-img{
    position: relative;
    height: 0;
    padding-bottom: 100%;  

}
.case-list-title{
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 1.25px;
    color: #ffffff;
    text-align: center;
    width: 80%;
    margin: auto;
    position: relative;
    top: -22px;
    h3{
        background-color: #3b3838;
        display: inline-block;
        padding: 3.61% 14.7%;
    }
}  
.case-list-content{
    // padding-top: 13.2%;
    // border: solid 1px #cecece;
    // border-top: none ;
}
.case-list-text{
    font-size: pxToEm(18);
    letter-spacing: 1.8px;
    text-align: center;
    color: #3b3838;
    @include clamp(1.22,2);
    display: block;
    padding: 0 3%;
    margin-bottom: 21px;
}

.case-list-view{
    border-top: solid 1px #cecece;
    font-size: pxToEm(22);
    line-height: 1.36;
    letter-spacing: 1.1px;
    text-align: left;
    color: #3b3838;
    text-align: center;
    padding: 9px;
    &::after{
        position: relative;
        top: -1px;
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 40px;
        height: 14px;
        background: url(../img/case/arrw.svg) top left no-repeat;
        background-size: cover;
    }
}

@include screen(1366px) {
    .hot-case-list-page,.history-case-list-page{
        width: 76%;
    }
}
@include media-breakpoint-down(xs) {
    .case-list-title h3{
        font-size: pxToEm(17);
        padding: 5.61% 14.7%;
    }
    .case-list-title{
        margin-bottom: -8px;
    }
    .case-list-text{
        font-size: pxToEm(15);
        letter-spacing: 1.8px;
        text-align: center;
        color: #3b3838;
        @include clamp(1.22,3);
        display: block;
        padding: 0 3%;
        margin-bottom: 17px;
    }
    .case-list-view{
        font-size: pxToEm(15);
        &::after{
            width: 27px;
            height: 9px;
        }
    }
  }

