header
  .header-box
    .logo 五十甲建築團隊
    .menu-wrapper
      .hamburger-menu
    .nav-box
      nav
        ul
          li
            a(href="#") 
              .tw 關於我們
              .en About Us
          li
            a(href="#") 
              .tw 熱銷建案
              .en Hot Cases
          li
            a(href="#") 
              .tw 歷年建案
              .en History Cases
          li
            a(href="#") 
              .tw 媒體報導
              .en Media
          li
            a(href="#") 
              .tw 聯絡我們 
              .en Contact
    