.in-about
  .in-title
    h3 關於五十甲
    h2 About Us
  .in-about-content
    .in-about-list
      .in-about-img
        img(src="files/img/index/807x495.jpg")
      .in-about-text
        h2 「扎實專業‧全心參與‧永續精進」透過建築銷售，成就幸福事業。
        .in-about-contenter
          |五十甲建築行銷團隊自民國79年創立至今，相信建築買賣不該是建商
          br
          |與住戶的競爭賽局，而是經由產品供需而創造的互利美事。為此團隊
          br
          |組成集合了業界菁英翹楚，全程參與個案作業，進而提供最徹底的產品
          br
          |規劃、市場觀察、業務行銷、廣告企劃…等全方位服務，為個案找到
          br
          |最理想的推案方針，協助建商提供更貼切消費者的產品，也讓購屋人
          br
          |更認同建設公司的品質與價值，從而在大環境的更迭中，
          br
          |創造建商、客戶與代銷三方的多贏局面。
    .in-about-list
      .in-about-img
        img(src="files/img/index/800x495.jpg")
      .in-about-text
        h2 「扎實專業‧全心參與‧永續精進」透過建築銷售，成就幸福事業。
        .in-about-contenter
          |五十甲建築行銷團隊自民國79年創立至今，相信建築買賣不該是建商
          br
          |與住戶的競爭賽局，而是經由產品供需而創造的互利美事。為此團隊
          br
          |組成集合了業界菁英翹楚，全程參與個案作業，進而提供最徹底的產品
          br
          |規劃、市場觀察、業務行銷、廣告企劃…等全方位服務，為個案找到
          br
          |最理想的推案方針，協助建商提供更貼切消費者的產品，也讓購屋人
          br
          |更認同建設公司的品質與價值，從而在大環境的更迭中，
          br
          |創造建商、客戶與代銷三方的多贏局面。


