.brand-case
  .in-title
    img.in-icon(src="files/img/index/brand-case.png")
    h3 品牌建案
    h2 Brand caseS
  .brand-list-box
    .brand-list
      .brand-list-img
        img(src="files/img/index/835x660_1.jpg")
      .brand-list-text
        a(href="#")
          .brand-list-content
            h2 城峰
            h3 美術館與住宅建築的結合
            .brand-contenter
              | 桃園新站特區，『城峰』站在樹海大景第一排，
              br
              | 坐看七萬五千坪樹海景觀，當代帝景誰與爭鋒。 
              br
              | 建築雙塔式的壯闊尺度，雙校園前後環抱無邊際棟距，
              br
              | 天然的極景棟距，視野完全無人可擋，
              br
              | 開闊視野穩居桃園豪宅之首。
            .btn-brand 了解詳情
    .brand-list
      .brand-list-img
        img(src="files/img/index/835x660_2.jpg")
      .brand-list-text
        a(href="#")
          .brand-list-content
            h2 城峰
            h3 美術館與住宅建築的結合
            .brand-contenter
              | 桃園新站特區，『城峰』站在樹海大景第一排，
              br
              | 坐看七萬五千坪樹海景觀，當代帝景誰與爭鋒。 
              br
              | 建築雙塔式的壯闊尺度，雙校園前後環抱無邊際棟距，
              br
              | 天然的極景棟距，視野完全無人可擋，
              br
              | 開闊視野穩居桃園豪宅之首。
            .btn-brand 了解詳情
    .brand-list
      .brand-list-img
        img(src="files/img/index/835x660_3.jpg")
      .brand-list-text
        a(href="#")
          .brand-list-content
            h2 城峰
            h3 美術館與住宅建築的結合
            .brand-contenter
              | 桃園新站特區，『城峰』站在樹海大景第一排，
              br
              | 坐看七萬五千坪樹海景觀，當代帝景誰與爭鋒。 
              br
              | 建築雙塔式的壯闊尺度，雙校園前後環抱無邊際棟距，
              br
              | 天然的極景棟距，視野完全無人可擋，
              br
              | 開闊視野穩居桃園豪宅之首。
            .btn-brand 了解詳情


     

  