.featured-case
  .in-title
    img.in-icon(src="files/img/index/featured-icon.png")
    h3 精選建案
    h2 Featured cases
  .featured-content
    ul
      li
        a(href="#")
          img(src="files/img/index/logo-1.png")
      li
        a(href="#")
          img(src="files/img/index/logo-2.png")
      li
        a(href="#")
          img(src="files/img/index/logo-1.png")
      li
        a(href="#")
          img(src="files/img/index/logo-2.png")
      li
        a(href="#")
          img(src="files/img/index/logo-1.png")
      li
        a(href="#")
          img(src="files/img/index/logo-2.png")
      li
        a(href="#")
          img(src="files/img/index/logo-1.png")

