.in-history-case
  .in-title
    img.in-icon(src="files/img/index/histort-case.png")
    h3 歷年建案
    h2 history cases
  .in-history-content
    ul
      li
        a(href="history-case-detail.html")
          .in-history-img
            .in-history-mark
              img(src="files/img/index/hi-icon.png")
            .in-history-mark-photo
              img(src="files/img/index/359x407.png")
          .in-history-title
            | 竹城真鶴
      li
        a(href="history-case-detail.html")
          .in-history-img
            .in-history-mark
              img(src="files/img/index/hi-icon.png")
            .in-history-mark-photo
              img(src="files/img/index/359x407.png")
          .in-history-title
            | 竹城真鶴
      li
        a(href="history-case-detail.html")
          .in-history-img
            .in-history-mark
              img(src="files/img/index/hi-icon.png")
            .in-history-mark-photo
              img(src="files/img/index/359x407.png")
          .in-history-title
            | 竹城真鶴
      li
        a(href="history-case-detail.html")
          .in-history-img
            .in-history-mark
              img(src="files/img/index/hi-icon.png")
            .in-history-mark-photo
              img(src="files/img/index/359x407.png")
          .in-history-title
            | 竹城真鶴
      li
        a(href="history-case-detail.html")
          .in-history-img
            .in-history-mark
              img(src="files/img/index/hi-icon.png")
            .in-history-mark-photo
              img(src="files/img/index/359x407.png")
          .in-history-title
            | 竹城真鶴
      li
        a(href="history-case-detail.html")
          .in-history-img
            .in-history-mark
              img(src="files/img/index/hi-icon.png")
            .in-history-mark-photo
              img(src="files/img/index/359x407.png")
          .in-history-title
            | 竹城真鶴
          
