.in-hot-case
  .in-title
    img.in-icon(src="files/img/index/hot-case.png")
    h3 精選建案
    h2 HOT case
  ul
    li
      a(href="hot-case-detail.html")
        .case-list-box
          .case-list-img
            img(src="files/img/case/610x610.jpg")
            h3 百川文心硯
          .case-list-content
            .case-list-text
              | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
            .case-list-view VIEW 
    li
      a(href="hot-case-detail.html")
        .case-list-box
          .case-list-img
            img(src="files/img/case/610x610.jpg")
            h3 百川文心硯
          .case-list-content
            .case-list-text
              | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
            .case-list-view VIEW 
    li
      a(href="hot-case-detail.html")
        .case-list-box
          .case-list-img
            img(src="files/img/case/610x610.jpg")
            h3 百川文心硯
          .case-list-content
            .case-list-text
              | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
            .case-list-view VIEW 

    li
      a(href="hot-case-detail.html")
        .case-list-box
          .case-list-img
            img(src="files/img/case/610x610.jpg")
            h3 百川文心硯
          .case-list-content
            .case-list-text
              | 正面對桃園巨蛋及桃園農工，全案分為2棟地上15層、地下2層共104戶的集合住宅
            .case-list-view VIEW 