.in-map
  #map
  .map-content
    .map-content-box
      img.map-img(src="files/img/index/map-icon.png")
      h3 五十甲建築行銷團隊
      .con-box
        ul
          li.tel-icon
            a(href="tel:03-3566-101") 03-3566-101
          li.mail-icon
            a(href="mailto:service@50c.com.tw" target='_blank') service@50c.com.tw
          li.add-icon
            a(href="https://goo.gl/maps/irT4mwvzuAhzesEc7" target='_blank') 338桃園市蘆竹區經國路896號6樓
      a.btn-contact(href="contact.html") 聯絡我們
