// 字型定義

$font_content: Arial, sans-serif, 微軟正黑體;
$notofont: -apple-system,'微軟正黑體', Arial, Verdana, sans-serif;

// 文字顏色

$black: #000;
$white: #ffffff;
$red: #a62f35;
$red_text: #6c1e22;
$bg_color:#f4f1ea;