// 字型定義

@font-face {
    font-family: "Goudy-Old"; //選單英文
    src: url(../assets/Goudy-Old-Style-T-OT_21139.ttf);
}

@font-face {
    font-family: "spinwerad"; //標題 選單
    src: url(../../assets/spinwerad.ttf);
}

$font_content: Arial, sans-serif, 微軟正黑體;
$notofont: -apple-system,'微軟正黑體', Arial, Verdana, sans-serif;

// 文字顏色

$black: #000;
$white: #ffffff;
$red: #b81a28;
$red_text: #6c1e22;
$bg_color:#f4f1ea;