header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 5.9px 6.8px 8.5px 0.5px rgba(143, 143, 143, 0.33);
    background: rgba(#fff, 0.8) ;
    height: 118px;
    display: flex;
    align-items: center;
}

.header-box{
    position: relative;
    width: 81%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .logo{
        width: 432px;
        height: 86px;
        background: url(../img/header/logo.png) top left no-repeat;
        background-size: cover;
        text-indent: -10000px;
    }
}