@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,500,600,700&display=swap');
// All

//選取顏色
p,
h1,
h2,
h3,
h4,
b,
strong,
span,
li,
div,
a,
img,
tr,
td,
th {
  &::selection {
      color: $white;
      background: #b81a28;
  }
}

*, *:before, *:after{
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}


html,body,h1,h2,h3,h4,h5,h6,p,b,div,span,iframe,ul,ol,li,img{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
html img {
  max-width: 100%;
};

::-webkit-input-placeholder{
  color: #aaa7a7;
  line-height:normal ; 
}


::-moz-placeholder{
  color: #aaa7a7;
  line-height:normal  ;
} 


tr,th,td{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  line-height: 1em;
  overflow: auto;
  font-size: 1rem;
  color: #3b3838;
  word-break: break-word;
  letter-spacing: .1em;
  font-family: 微軟正黑體,Arial,sans-serif;
  z-index: 0;
  // background: url(../img/guide/05.jpg) center top no-repeat;
}

// #wrapper 
#wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  min-width: 320px!important;
  overflow: hidden;
  z-index: 2;
}
main[role=main]{
  display: block;
}
.path{
  background-color: #f1f1f1;
  font-size: pxToEm(20);
  line-height: 2.9;
  letter-spacing: 4px;
  color: #8f8f8f;
  margin-bottom: 2.2%;
  a{
    color: #8f8f8f;
    text-decoration: none;
    &:hover{
      color: $red;
    }
  }
}

.path-box{
  width: 92%;
  max-width: 1560px;
  margin: auto;

}
.main-content{
  padding-top: 3px;
  width: 92%;
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.right-content{
  margin-left: 0%;
  margin-bottom: 52px;
}

.title-box{
  text-align: center;
  font-weight: bold;
  margin-bottom: 2.3%;
  h2{
    font-family: 'Noto Serif TC', serif;
    color: #373737;
    font-size: pxToEm(40);
    line-height: 1;
    letter-spacing: 8px;
  }
  h3{
    color: #a8a8a8;
    font-family: "spinwerad";
    font-size: pxToEm(30);
    line-height: 2;
    letter-spacing: 3px;
  }
  &::after{
    display: block;
    content: '';
    background: url(../img/title_shadow.png) no-repeat;
    background-size: cover;
    width: 422px;
    height: 35px;
    margin: 0 auto 0 auto;
  }
}

.main-banner{
  width: 100%;
  img{
    width: 100%;
  }
}

// HTML 編輯器
.editor-box{
  width: 100%;
  margin: 0 auto 6% auto;
  ul,ol {
    padding-left: 20px;
}
  img {
      max-width: 100%;
      height: auto !important;
  }
  iframe {
      max-width: 100%;
      @media screen and (max-width: 767px) {
          height: auto !important;
      }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin: inherit;
  }
}
