.hot-case-photo {
  width: 100%;

  .hot-img-box {
    display: flex;
    width: 100%;
    background: url(../img/case/case_txt_bg.png) #f3f3f3 right bottom no-repeat;
    background-size: 50.2% 27%;
  }

  .slick-list.draggable {
    max-width: 610px;
    width: 100%;
  }
  .slick-prev {
    outline: 0;
    width: 17px;
    height: 23px;
    left: 17px;
    background: url(../img/case/inco_btn_left.png) 0px 0px no-repeat;
  }

  .slick-next {
    outline: 0;
    right: 17px;
    width: 17px;
    height: 23px;
    background: url(../img/case/inco_btn_right.png) 0 0 no-repeat;
  }
}

.polist {
  width: 100%;
  margin: 0 auto;
  margin-top: 2.5%;

  div.slick-slide {
    max-width: 126px;
  }

  div:not(:last-child) {
    margin-right: 0.17%;
  }
}

.hot-case-product-text {
  width: 52.7%;
  padding: 4.5%;
}

.lb-nav a.lb-prev {
  left: -77px !important;
  position: relative;
}

.lb-nav a.lb-next {
  position: relative;
  right: -79px !important;
}

.lb-data .lb-number {
  display: none !important;
}

.lb-outerContainer {
  background: none !important;
}

.lightbox .lb-image {
  border-radius: 0 !important;
  border: none !important;
}

.hot-case-product-text {
  h2 {
    text-align: center;
    font-size: pxToEm(35);
    padding: 0px 0 45px 21px;
    margin-bottom: 35px;
    color: #3b3838;
    width: 100%;
    display: block;
    border-bottom: 1px solid #353535;

  }

  li {
    margin-bottom: 41px;
    color: #3b3838;
    width: 100%;
    font-size: pxToEm(20);
    list-style: none;
  }

  b,
  span {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
  }

  b {
    font-weight: bold;
    width: 117px;
  }

  span {
    width: calc(100% - 117px);
  }
}

.hot-case-picture {
  width: 100%;
  @extend %cf;
  padding-bottom: 27px;
}

//.hot-case-detail-content
.hot-case-detail-content{
  margin-top: 46px;
}

.fancybox-next span {
  width: 53px !important;
  height: 53px !important;
  background: url(../img/case/next.png) 0 0 no-repeat !important;
  background-size: contain !important;
  right: -0px !important;
}

.fancybox-prev span {
  width: 53px !important;
  height: 53px !important;
  background: url(../img/case/prev.png) 0 0 no-repeat !important;
  background-size: contain !important;
  left: -0px !important;
}

.fancybox-close {
  top: 6px !important;
  right: 6px !important;
  width: 80px !important;
  height: 80px !important;
  background: url(../img/case/close.png) 0 0 no-repeat !important;
  background-size: contain !important;
}

.fancybox-opened .fancybox-skin {
  box-shadow: none !important;
}

.fancybox-skin {
  background: none !important;
}

.fancybox-nav span {
  visibility: visible !important;
}



@media screen and (max-width: 768px) {

  .hot-case-photo {
    float: none;
    width: 100%;
    max-width: 100%;
  }

  .hot-case-product-text {
    float: none;
    width: 100%;
    margin-top: 40px;

    li {
      width: 100% !important;
    }
  }

}

@media screen and (max-width: 767px) {


  .polist {
    width: 78%;

    @media screen and (max-width: 320px) {
      width: 74%;
    }
  }


  .fancybox-skin {
    padding: 21px !important;
  }

  .fancybox-next span,
  .fancybox-prev span {
    width: 30px !important;
    height: 30px !important;
  }

  .fancybox-next span {
    right: -37px !important;
  }

  .fancybox-prev span {
    left: -37px !important;
  }

  .fancybox-close {
    top: -23px !important;
    right: 7px !important;
    width: 50px !important;
    height: 50px !important;
  }


}

@media screen and (max-width:374px) {}