.hot-case-picture
  .hot-case-photo
    .hot-img-box
      //- big photo
      .slider.slider-for
        .hot-case-product_img
          a.fancybox-effects-a(href="files/img/case/610x610.jpg" data-fancybox-group="gallery")
            img(src="files/img/case/610x610.jpg")
        .hot-case-product_img
          a.fancybox-effects-a(href="files/img/case/610x610.jpg" data-fancybox-group="gallery")
            img(src="files/img/case/610x610.jpg")
        .hot-case-product_img
          a.fancybox-effects-a(href="files/img/case/610x610.jpg" data-fancybox-group="gallery")
            img(src="files/img/case/610x610.jpg")
        .hot-case-product_img
          a.fancybox-effects-a(href="files/img/case/610x610.jpg" data-fancybox-group="gallery")
            img(src="files/img/case/610x610.jpg")
      //- 內容
      // 因為結構的關係 這塊內容有分兩塊 這個是PC用
      .hot-case-product-text.pc-use
        .hot-case-product-contenter
          h2 百川文心硯
          ul
            li
              b 基地位址：
              span 中壢區五族二街與正光三街交叉口
            li
              b 坪數規劃：
              span 28~45坪
            li
              b 基地面積：
              span 約781坪
            li
              b 房數規劃：
              span 二房、三房、四房
            li
              b 規劃樓層：
              span 地上14~15層，地下２層
            li
              b 建案規畫：
              span 住家95戶、店家5戶，共計100戶
            li
              b 預計完工：
              span 2020年5月中旬
    //- smail photo
    .polist.slider.slider-nav
      div
        img(src="files/img/case/610x610.jpg")
      div
        img(src="files/img/case/610x610.jpg")
      div
        img(src="files/img/case/610x610.jpg")
      div
        img(src="files/img/case/610x610.jpg")
    //- 內容
    // 因為結構的關係 這塊內容有分兩塊 這個是行動裝置用
    .hot-case-product-text.mo-use
      .hot-case-product-contenter
        h2 百川文心硯
        ul
          li
            b 基地位址：
            span 中壢區五族二街與正光三街交叉口
          li
            b 坪數規劃：
            span 28~45坪
          li
            b 基地面積：
            span 約781坪
          li
            b 房數規劃：
            span 二房、三房、四房
          li
            b 規劃樓層：
            span 地上14~15層，地下２層
          li
            b 建案規畫：
            span 住家95戶、店家5戶，共計100戶
          li
            b 預計完工：
            span 2020年5月中旬